{% extends 'base.html' %}
{% load static %}
{% load producto_extras %}



{% block content %}

<div class="col-3">
{% if producto.imagen %}
    <img src="{{producto.imagen.url}}" alt="Imagen del producto" with="200" height="200">

{% endif %}
</div>

<div class="col mt-2">
    <div class="h3 font-weight-bold text-success">
    
    {{quantity | cantidad_agregada_format }} al carrito
    </div>
    <div class="h5">
        <a href="{% url 'productos:producto' producto.slug %}">
        {{producto.nombre}}
    </a>
    <div class=" h5 font-weight-bold text-danger">
        {{producto.precio | precio_format }}

    </div>
    <div class="mt-2">
    <a href="{% url 'carts:cart' %}" class="btn btn-warning">Ver Carrito</a>
    </div>
        <div class="mt-2">
     <a href="{% url 'index' %}" class="btn btn-success">Seguir comprando</a>
    </div>

</div>

{% endblock  %}