{% extends 'base.html'%}

{% block content %}

   
       {% include 'productos/snippets/categorias.html' %}




         <div class="col-10">
            <h1>{{title}}</h1>
        <ul class="list-group">
            <br>
       <h4 class="text-center"> {{message}} </h4>

     <!--   {% include 'productos/snippets/carousel.html' %}-->

       {% include 'productos/snippets/search.html' %}

       {% include 'productos/snippets/list.html' %}


        </ul>


    </div>

{% endblock %}



{% load static %}
