{% load static %}
<script src="{% static 'store/inicio/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'store/inicio/js/bootstrap.min.js' %}"></script>
<script src="{% static 'store/inicio/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'store/inicio/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'store/inicio/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'store/inicio/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'store/inicio/js/mixitup.min.js' %}"></script>
<script src="{% static 'store/inicio/js/main.js' %}"></script>