{% load static %}
<div class="social-links-warp">
    <div class="container">
        <div class="social-links">
            <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
            <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
            <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
            <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
            <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtub</span></a>
            <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
        </div>
    </div>

    <div class="container text-center pt-5">
        <p><
            Copyright &copy;
            {% load static %}
            <script>document.write(new Date().getFullYear());</script>
            Reservados todos los derechos | Esta plantilla está hecha <i class="icon-heart color-danger"
                                                                         aria-hidden="true"></i> por <a href="#"
                                                                                                        target="_blank"></a>
        </p>
    </div>


</div>