{% load static %}

<!-- Producto en tarjetas-->
<div class="card text-center h-100">
    {% if producto.imagen %}
        <img class="card-img-top" src="{{ producto.imagen.url }}" alt="Card image cap"
             style=" height: 150px; object-fit: cover;">
    {% else %}
        <img class="card-img-top" src="{% static 'images/aimagenot.png' %}" alt="Card image cap"
             style=" height: 150px; object-fit: cover;">

    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{ producto.nombre }}</h4>
        <p class="card-text"> {{ producto.descripcion }}</p>

    </div>
    <div class="card-footer">

        <div class="btn-group">
            <a href="{% url 'store:producto' producto.slug %}" class="btn btn-outline-success btn-sm">
                👀 ver
            </a>

            <a href="{% url 'store:producto' producto.slug %}" class="btn btn-outline-danger btn-sm ">
                👍🏻
                <h6> like</h6>
            </a>

            <a href="{% url 'store:producto' producto.slug %}" class="btn btn-outline-warning btn-sm ">
                🛒cart
            </a>
        </div>


    </div>
</div>