<form action="{% url 'carts:add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="producto_id" value="{{ producto.id }}">
    <div class="">
    <!--d-inline es para que los componentes se encuentren en linea-->
        <button type="button" class="btn btn-info d-inline" id="remove">-</button>
        <input type="number" value="1" class="form-control col-sm-1 d-inline" id="cantidad" name="cantidad" readonly>
        <button type="button" class="btn btn-info" id="add">+</button>

    </div>
    <button type="submit" class="btn btn-warning mt-2">Agregar al carrito</button>
</form>

<script>
const add = document.getElementById('add');
const remove = document.getElementById('remove');
const cantidad = document.getElementById('cantidad');


add.addEventListener('click', function(){
    cantidad.value = parseInt(cantidad.value) + 1
})


remove.addEventListener('click', function(){
     value = parseInt(cantidad.value)
    if(value!==1){
        value = value - 1
    }
    cantidad.value = value
})
</script>

